/* stanky COOLORS #93E1D8, #FFA69E */

@font-face {
    font-family: "Eurostile";
    src: url('./eurostile/eurostile.TTF');
}

body {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Eurostile;
    font-weight: bold;
}

.navbar-light {
    background-color: white !important;
}

.nav-link {
    background-color: #ff6473;
    font-weight: bold;
    color: white !important;
}

#logo {
    width: 75px;
}

header {
    min-height: 100vh;
    margin: 0 15% 0 15%;
    padding-top: 25px;
}

header h1 {
    margin: 30px;
}

.avatar {
    border-radius: 50%;
    background-color: #DDFFF7;
    width: 200px;
    margin: 50px;
}

.background-hero {
    width: 30%;
    display: block;
    position: absolute;
    z-index: -1;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

/* intro-container styles */
.intro-container {
    background-color: #ff6473;
    min-height: 500px;
}

.intro-text-container {
    padding: 50px 0;
    width: 50%;
    margin: auto;
    color: white;
}

.intro-text-container h2 {
    margin-bottom: 25px;
}

/* skills-container styles */
.skills-container {
    position: relative;
    bottom: 150px;
    border-radius: 15px;
    width: 70%;
    background-color: white;
    margin: auto;
}

.skills-container h4 {
    margin: 15px 0;
}

.skills-container .col-lg-4 {
    border: 1px solid rgba(209, 209, 209, 0.849);
    padding: 15px;
}

.skills-container .left {
    border-radius: 15px 0 0 15px;
    border: 1px solid rgba(209, 209, 209, 0.849);
}

.skills-container .right {
    border-radius: 0 15px 15px 0;
    border: 1px solid rgba(209, 209, 209, 0.849);
}

#graduation-img {
    fill: #ff6473;
    width: 75px;
}

.red-text {
    color: #ff6473;
    font-weight: 500;
}

.list-text {
    margin: 0;
}

/* weird style with bootstrap container */
@media screen and (max-width: 990px) {
    .skills-container .left {
        border-radius: 15px 15px 0 0;
    }
    
    .skills-container .right {
        border-radius: 0 0 15px 15px;
    }

    .background-hero {
        width: 75% !important;
    }

    .nav-link {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1500px) {
    .background-hero {
        width: 50%;
    }
}

/* mobile only styles */
@media screen and (max-width: 768px) {
    .avatar {
        width: 150px;
    }

    .intro-text-container {
        width: 75%;
    }
}